<div class="container mt-5">
  <h1 class="title">Write a comment for <%= @article.title %></h1>

  <%= simple_form_for([@article, @comment]) do |f| %>
    <%= f.input :content %>
    <%= f.submit class: "m-btn" %>
  <% end %>

  <div class= "mt-3">
    <%= link_to 'Back', article_path(@article) %>
  </div>
</div>
<!-- btn btn-outline-primary btn-sm
btn btn-outline-primary btn-sm
-->