<div class="container mb-5">
  <div class="row" style="justify-content: space-around;">
    <div class= "col-7">
      <h1 class="title mt-5">Search results: <span class="emp"><%= @searchterm %></span></h1>
       <div class="card-deck" style="width: 100%; margin: 0; display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 16px;">
        <% @articles.each do |article| %>
          <div class="card-article m-1">
            <div class="p-2">
              <%= cl_image_tag article.photo.key, class: "rounded card-img shadow" %>
            </div>
            <div class="card-article-infos">
              <div>
                <div>
                  <h2 class="pb-1"><%= article.title %></h2>
                  <p class="lt"><%= article.user.first_name %> <%= article.user.last_name %> <span><%= article.created_at.strftime("%B %d") %> 2020</span></p>
                </div>
              </div>
            </div>
            <div class="card-article-infos">
              <div>
                <p class="pb-2"><%= article.summary %></p>
              </div>
            </div>
            <div class="card-article-infos d-flex justify-content-center pb-3">
              <button class="btn c-btn"><%= link_to "Read Article", article_path(article) %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5">
      <div class="searchbar">
        <%= simple_form_for :search, url: articles_path, method: :get do |f| %>
        <div class="search-form-control form-group" style="width: 100%;">
          <input class="form-control string required pl-5" type="text" name="query" id="query" placeholder="Search articles" />
          <button name="commit" type="submit" value="search" class="btn btn-flat d-flex justify-content-center">
            <i class="fas fa-search search-icon"></i>
          </button>
        </div>
      <% end %>
      </div>
      <div class="card-add">
        <h2 class="pb-1 text-center">Book a <span class="emp">free</span> consultation with a mentor in <span class="emp-y">Berlin</span></h2>
        <div class="card-add-infos">

                <img src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="sm-img">


                <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">


                <img src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1475823678248-624fc6f85785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">

                <img src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="sm-img">
            </div>
         <div class="d-flex justify-content-center mt-4">
            <button class="c-btn"><%= link_to "Find your mentor", mentors_path %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.mentor? %>
    <div class="d-flex justify-content-end m-5">
      <%= link_to "Add a new article", new_article_path, class: "c-btn" %>
    </div>
  <% end %>
</div>
