<div class="index-container pl-2 pr-2">
  <div class="d-flex">
    <div class="row col-sm-12 col-md-8" style="justify-content: space-around;">
      <% @articles.each do |article| %>
      <div class="card-article m-1" style="width: 14rem;">
        <div class="p-3">
          <img src="https://images.unsplash.com/photo-1528728329032-2972f65dfb3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" >
        </div>
        <div class="card-article-infos">
          <div>
            <h2 class="pb-1"><%= article.title %></h2>
            <p class="mb-3 lt">written by RuPaul on 12/20/19</p>
            <p class="pt-1 pb-4"><%= article.content %></p>
            <button class="c-btn"><%= link_to "Read article", article_path(article) %></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
      <div class="index-right col-md-4">
        <div class="searchbar">
          <%= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div class="search-form-control form-group" style="width: 100%;">
            <input class="form-control string required pl-5" type="text" name="search[query]" id="search_query" placeholder="Search mentor" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search search-icon"></i>
            </button>
          </div>
        <% end %>
        </div>
        <div class="card-add" style="width: 100%;">
          <h2 class="pb-1 text-center">Book a <span class="emp">free</span> consultation with a mentor in <span class="emp-y">Berlin</span></h2>
          <div class="card-add-infos">
            <div class="container">
              <div class="row">
                <div>
                  <img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1482849297070-f4fae2173efe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1519419691348-3b3433c4c20e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
                <div>
                  <img src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="sm-img">
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="c-btn"><%= link_to "find your mentor", mentors_path %></button>
            </div>
          </div>
        </div>
      </div>
    </div>

<%= link_to "Add a new article", new_article_path, class: "c-btn" %>
</div>
