<div class="container my-5">
  <h2><%= @article.title %>
    <span><%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_article_path %></span>
    <span class="text-right"><%= link_to "<i class='far fa-trash-alt'></i>".html_safe,
                                                    article_path(@article),
                                                    method: :delete,
                                                    data: { confirm: "Are you sure?" } %></span>
  </h2>
  <div class="border-top mt-3">
      <p class="mt-3"><%= @article.content %></p>
  </div>

  <p class="pt-4"><%= link_to "Back to articles", articles_path %></p>
  <p class="pt-4"><%= link_to "Write a comment", new_article_comment_path(@article) %></p>

  <div class="row">
  <div class="col-12">
    <h2 class="title text-center my-5">Comments For <%= @article.title %></h2>
      <ul>
        <% @article.comments.each do |comment| %>
          <li>
            <div class="card my-3">
              <div class="card-header">
                <p>Comment:</p>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p><%= comment.content %></p>
                  <footer class="blockquote-footer"><%= @article.title %> Reader</footer>
                </blockquote>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
