<div class= "container">
  <p class="pt-4"><%= link_to "Back to articles", articles_path, class: "yellow-link" %></p>
  <div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <div class="article-header">
      <h2 class="title text-center mb-3"><%= @article.title %></h2>
      <p class="text-center font-weight-lighter"><%= @article.summary %></p>
      <p class="text-center mb-5 font-weight-lighter"><%= cl_image_tag @article.user.photo.key, class: "rounded sm-img" %>Written by <%= @article.user.first_name %> <%= @article.user.last_name %></p>
    </div>
    <div>
      <%= cl_image_tag @article.photo.key, class: "rounded" %>
    </div>
    <div class="mt-3 mb-0 article-body">
        <p class="mt-3"><%= @article.content.html_safe %></p>
    </div>
      <div>
        <%= simple_form_for(@article, :html => {:class => 'login-form' }) do |f| %>
        <h2 class="title">Book a <span class="emp">free</span> consultation with <%= @article.user.first_name %> now!</h2>
        <div class="d-flex justify-content-center">
        <li class="btn c-btn"><%= link_to "Book a meeting now!", mentor_path(@mentor) %></li>
        </div>
        <% end %>
      </div>
  </div>
  <p class="text-right"><%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_article_path, class: "yellow-link" %></p>
  <p class="text-right"><%= link_to "<i class='far fa-trash-alt'></i>".html_safe,
                                                      article_path(@article),
                                                      method: :delete,
                                                      data: { confirm: "Are you sure?" }, class: "yellow-link" %></p>
  <div class="article-header">
    <div class="row">
    <div class="col-12">
      <p class="lt">COMMENTS</p>
        <ul class="p-0">
          <% @article.comments.each do |comment| %>
            <li class="my-4">
              <p class="font-weight-bold mb-0"><%= comment.user.first_name %><span class="lt ml-2"><%= comment.created_at.strftime("%B %d") %></span></p>
              <p class="font-weight-lighter"><%= comment.content %></p>
            </li>
          <% end %>
        </ul>
        <p class="pt-4"><%= link_to "Write a comment", new_article_comment_path(@article), class: "m-btn" %></p>
      </div>
    </div>
  </div>
</div>
