<div class="container mt-5">
  <%= simple_form_for [ @consultation] do |f| %>
  <%= f.submit "Edit consultation", class: "m-btn" %>
  <% end %>
  <%= link_to "Delete this consultation",
  user_path(@consultation),
  method: :delete,
  data: { confirm: "Are you sure?" }, class: "m-btn" %>
  <div>

  <% @consultations.each do |consultation| %>
  <% if policy(consultation).edit? %>
    <%= link_to "Confirm", edit_consultation_path(consultation) %>
  <% end %>

<% end %>
  <div class = "d-flex justify-content-center">
    <%= link_to 'Back', users_path, class: "yellow-link"%>
  </div>
  </div>
 </div>

