<div class="container mt-5">
  <h1 class="title d-flex justify-content-center">Make new consultation</h1>
  <%=  render 'form', user:@user %>

  <div class= "mt-3">
    <%= link_to 'Back', dashboard_index_path, class: "yellow-link"%>
  </div>
</div>

<div class="row">
  <div class="container">
    <%= simple_form_for [@user, @consultation] do |f| %>
      <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}%>
      <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id: "secondRangeInput"}%>
      <%= f.submit "Make Booking", class: "btn btn-outline-primary btn-rounded btn-sm my-0" %>
    <% end %>
  </div>
</div>