<nav class="sidenav">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path class: "navbar-brand" do %>
    <p class='mb-0 navbar-icon icon-w'>W</p>
    <p class='mb-0 navbar-icon icon-compass'><i class="far fa-compass"></i></p>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>


  <ul id="menu" class="sidebar-list">
    <li class="icon fa fa-square" ><%= link_to "Home", root_path, class: "p-2 nav-item"%></li>
    <li class="icon fa fa-square" ><%= link_to "Wiki", articles_path, class: "p-2 nav-item"%></li>
    <li class="icon fa fa-square" ><%= link_to "Mentors", mentors_path, class: "p-2 nav-item"%></li>
    <li class="icon fa fa-square" ><%= link_to "Dashboard", dashboard_index_path, class: "p-2 nav-item"%></li>
    
  </ul>

</nav>

