
<div class="container-fluid">
  <div class="row mx-lg-n5">
    <div class="col-7 " style="padding-right: 10px; margin-right: -55px;">
      <h2 class="pb-1 title" style="margin-top: 80px;">Search results: <span class="emp">Mentors</span></h2>
      <div class="card-deck" style="margin-left: 9px; margin-top: 9px; margin-right: 20px">
        <% @mentors.each do |user| %>
          <div class="card-mentor-trip" style="width: 15rem; height: 25rem; margin-right: 24px; margin-bottom: 23px; ">
            <div class="p-3">
              <%= cl_image_tag user.photo.key, class: "rounded card-img shadow" %>
            </div>
            <div id="card-info" class="card-trip-infos" style="margin-top: -30px;">
              <div>
                <h1 class="pb-1" style="font-size: 20px;";><%= user.first_name %> <%= user.last_name %></h1>
                <div class="pb-2" style="height: 150px;">
                  <p><span class="font-weight-bold">Location:</span> <%= user.location %></p>
                  <p><span class="font-weight-bold">Nationality:</span> <%= user.nationality %></p>
                  <p><span class="font-weight-bold">Profession:</span> <%=  user.profession %></p>
                  <p><span class="font-weight-bold">Expertise:</span> <%= user.expertise %></p>
                  <p><span class="font-weight-bold">Fee:</span> €<%= user.price %> per hour</p>
                </div>
                <%= link_to "View Mentor",  mentor_path(user), class: "btn c-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5 ml">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group" style="margin-right: -4px;margin-left: 60px; ">
          <input class="form-control string required pl-5" type="text" name="search[query]" id="search_query" placeholder="Search mentor" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search search-icon"></i>
          </button>
        </div>
      <% end %>
      <div id="map"
      style="width: 110%; height: 1000px; "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

